@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Spartan&display=swap');

* {
	font-family: 'Spartan', sans-serif;
	background: whitesmoke;
}

h2 {
	color: orangered;
	text-align: center;
	font-family: 'Pacifico', cursive;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

input,
textarea,
select {
	width: 100%;
	padding: 6px 10px;
	margin: 10px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	display: block;
}

button {
	background: #fff;
	color: orangered;
	padding: 4px 8px;
	border: 2px solid orangered;
	border-radius: 0px;
	cursor: pointer;
}
button:hover {
	background: orangered;
	color: #fff;
}

button:disabled {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	padding: 1rem;
	margin: 0.5rem;
	text-align: center;
	border: 0.2rem solid;
}

.card:hover {
	-webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
		inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
	-moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
		inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
	-o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
		inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
		inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

img {
	width: 230px;
}

.first-div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
